git+https://github.com/huggingface/transformers.git@21f6f58721dd9154357576be6de54eefef1f1818
git+https://github.com/impira/docquery.git@4a28ebe9be343f2769808dd07d52692aca496480
sentencepiece
Pillow==9.2.0
fastapi[all]
opencv_python_headless==4.5.3.56
